body{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-button{
    width: 280px;
    height: 80px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
}

.share-button:hover{
    transform: scale(1.1);
}


/* phone only */
@media(max-width:599px){

}

/* tablet portrait up*/
@media(min-width:600px){

}

/* tablet landscape up */
@media(min-width:900px){

}

/* desktop up */
@media(min-width:1200px){

}

/* big desktop up*/
@media(min-width:1800px){

}

